.problem {
    display: inline-block;
    border: 1px solid #0f0f0f;
    padding: 5px;
    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.problem:hover {
    text-decoration: none;
    border-color: #ddd;
}

.problems li {
    margin-bottom: 25px;
}

.content {
    padding-top: 30px;
}

form {
    width: 100%
}

.problemColors {
    color: #ccc;
    color: #76fd77;
    color: #77ddbb;
    color: #aaf;
    color: #f988ff;
    color: #fdcc87;
    color: #ffbb55;
    color: #f77;
    color: #f33;
}
